@tailwind base;
@tailwind components;
@tailwind utilities;

#visuals {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#identity {
    position: absolute;
    z-index: 1;
    right: 67%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

#footer {
    position: absolute;
    z-index: 1;
    width: auto;
    left: 1rem;
    bottom: 0.25rem;
}
