@tailwind base;
@tailwind components;
@tailwind utilities;

#visuals {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#identity {
    position: absolute;
    z-index: 1;
    right: 67%;
    bottom: 50%;
    transform: translate(50%, 50%);
}
